*{
    margin: 0px;
    padding: 0px;
}
#leftSidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: rgba(192, 38, 0, 0.541);
     left:-200px;
     transition: all 0.5s linear;
}
#leftSidebar:active{
    left:0;

}

#leftSidebar ul li{
    list-style: none;
    padding: 10px 10px;
    border-bottom:1px solid white;
    cursor: pointer;
    transition: all 0.5s linear;
}
#leftSidebar ul li:hover{
    background-color: coral;
}

#leftSidebar ul li a{
color: white;
font-family: sans-serif;
text-decoration: none;
}
.leftSidebarButton{
    position: absolute;
    top: 0;
    left: 200px;
    cursor: pointer;
}

.leftSidebarButton:before{
content: "\f0c9";
font-family: FontAwesome;
color:white;
position: absolute;
background-color: rgba(192, 38, 0, 0.541);
padding: 5px 10px;

transition: all 0.5s linear;
}
.leftSidebarButton:hover::before{
    background-color: coral;
}



